@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Charmonman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');

* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alatsi', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/homebg.png') !important;
  background-size: cover !important;
  /* background-position: center; */
  background-repeat: no-repeat !important;
  /* background-color: red; */
  /* z-index: 1, */
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #E8E8E8;
  border-radius: 16px;
  background-color: #E8E8E8;
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #C4C4C4;
  border-radius: 10px;
  max-height: 5px;
  margin: 20px 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #525252;
}

::-webkit-scrollbar-button {
  height: 12px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div#root {
  height: 100%;
}

.bottom-links:hover {
  color: #263238
}